<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
   <section name="CustomFieldsSection" type="PX.Web.UI.Design.CustomFieldAttributesSection, PX.Web.UI.Design, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>
  <CustomFieldsSection>
    <CustomFields>
      <clear />
		<add FieldName="&lt;Example Field&gt;" Table="" Type="Char"  IgnoreDefaultAttributes="False">
			<Attributes>
				<clear />
				<add Name="PXDBString" Constructor="PXDBString(1, IsFixed = true)" IsActive="true" />
				<add Name="PXDefault" Constructor="PXDefault(&quot;H&quot;)" IsActive="true" />
				<add Name="PXUIField" Constructor="PXUIField()" IsActive="true" />
				<add Name="PXStringList" Constructor="PXStringList(new string[] { &quot;B&quot;, &quot;C&quot;, &quot;H&quot;, &quot;P&quot;, &quot;U&quot;, &quot;V&quot; }, new string[] { &quot;Balanced&quot;, &quot;Completed&quot;, &quot;On Hold&quot;, &quot;Posted&quot;, &quot;Unposted&quot;, &quot;Voided&quot; })" IsActive="true" />
		</Attributes>
		</add>
	  
		<add FieldName="CreatedByID" Table="" Type="UniqueIdentifier" IgnoreDefaultAttributes="True">
			<Attributes>
				<clear />
				<add Name="PXDBCreatedByID" Constructor="PXDBCreatedByID()" IsActive="true" />
			</Attributes>
		</add>
		<add FieldName="CreatedByScreenID" Table="" Type="Char" IgnoreDefaultAttributes="True">
			<Attributes>
				<clear />
				<add Name="PXDBCreatedByScreenID" Constructor="PXDBCreatedByScreenID()" IsActive="true" />
			</Attributes>
		</add>
		<add FieldName="CreatedDateTime" Table="" Type="SmallDateTime" IgnoreDefaultAttributes="True">
			<Attributes>
				<clear />
				<add Name="PXDBCreatedDateTime" Constructor="PXDBCreatedDateTime()" IsActive="true" />
			</Attributes>
		</add>
		<add FieldName="LastModifiedByID" Table="" Type="UniqueIdentifier" IgnoreDefaultAttributes="True">
			<Attributes>
				<clear />
				<add Name="PXDBLastModifiedByID" Constructor="PXDBLastModifiedByID()" IsActive="true" />
			</Attributes>
		</add>
		<add FieldName="LastModifiedByScreenID" Table="" Type="Char" IgnoreDefaultAttributes="True">
			<Attributes>
				<clear />
				<add Name="PXDBLastModifiedByScreenID" Constructor="PXDBLastModifiedByScreenID()" IsActive="true" />
			</Attributes>
		</add>
		<add FieldName="LastModifiedDateTime" Table="" Type="SmallDateTime" IgnoreDefaultAttributes="True">
			<Attributes>
				<clear />
				<add Name="PXDBLastModifiedDateTime" Constructor="PXDBLastModifiedDateTime()" IsActive="true" />
			</Attributes>
		</add>
		<add FieldName="NoteID" Table="" Type="BigInt" IgnoreDefaultAttributes="True">
			<Attributes>
				<clear />
				<add Name="PXNote" Constructor="PXNote()" IsActive="true" />
			</Attributes>
		</add>
    </CustomFields>
  </CustomFieldsSection>
</configuration>
